<h3 class="text-center">page for all events</h3>
<% @events.each do |e| %>
<% if current_user %>
<ul class="list-unstyled">
<li> <%= e.name %> </li>
<li> <%= e.user.username %> </li>
</ul>
<% end %>
<% end %>
